.DS_Store
.cpcache
build

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env.production

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
yarn-debug.log*
yarn-error.log*
.pnp.*

# Base ignores
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
