{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}
           hiccup/hiccup       {:mvn/version "1.0.5"}}
 :aliases {:generate {:exec-fn joonas.soy.core/generate-site!
                      :exec-args {:target "build"}}}}
